{% block footer %}
<hr>
  <div class="container py-8 mx-auto text-center">
    <p class="text-sm text-center text-gray-500">
      &copy; {{ "now"|date("Y") }} {{ site.name }}. All rights reserved.
    </p>
  </div>
{% endblock %}
