{% block content %}
  <section>
    <div class="container mx-auto">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <h1>
          User Name
          <span>
            JOB TITLE
          </span>
        </h1>
        <article class="info">
          <h2>
            Contact
          </h2>
          <ul class="list-none">
            <li>
              TEL
            </li>
            <li>
              MAIL
            </li>
            <li>
              LOCATION
            </li>
          </ul>
        </article>
        <article class="about">
          <h2>
            About
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minima laudantium quisquam voluptatibus soluta veritatis, vitae in tempore odio officiis, velit dicta deleniti harum molestias. Voluptates distinctio impedit optio tenetur!
          </p>
        </article>
        <article class="education">
          <h2>
            EDUCATION
          </h2>
          <section class="item">
            <div class="date">
              2024 - 2026
            </div>
            <h3 class="company">
              CFITECH
            </h3>
            <div class="company-role">
              Wordpress and Front-End trainer
            </div>
          </section>
        </article>
        <article class="skills">
          <ul class="list-none">
            <li class="item">
              Graphic Design
            </li>
            <li class="item">
              Front-End
            </li>
            <li class="item">
              Web Content Management
            </li>
            <li class="item">
              Wordpress Developer
            </li>
            <li class="item">
              Adobe Campaign Developer
            </li>
          </ul>
        </article>
        <article class="experience">
          <h2>
            EXPERIENCE
          </h2>
          <section class="job">
            <h3 class="job-company">
              CFITECH
            </h3>
            <div class="job-role">
              <strong>
                Trainer
              </strong>
              . 2010-2020
            </div>
            <div class="job-content">
              <ul class="list-none">
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
              </ul>
            </div>
          </section>
          <section class="job">
            <h3 class="job-company">
              CFITECH
            </h3>
            <div class="job-role">
              <strong>
                Trainer
              </strong>
              . 2010-2020
            </div>
            <div class="job-content">
              <ul class="list-none">
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
              </ul>
            </div>
          </section>
          <section class="job">
            <h3 class="job-company">
              CFITECH
            </h3>
            <div class="job-role">
              <strong>
                Trainer
              </strong>
              . 2010-2020
            </div>
            <div class="job-content">
              <ul class="list-none">
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
              </ul>
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>
{% endblock %}
