{#
  Héritage du template de base
  Comme construire sur les fondations existantes
#}
{% extends "base.twig" %}

{% block content %}
  {# Section Hero/Présentation #}
  <a href="mailto:hello@myname.com" class="fixed px-4 py-2 text-xs font-bold text-white rounded-full z-1 bg-primary-800 top-4 badge right-4 hover:bg-primary-50 hover:text-primary-950 sm:text-sm">
    HELLO@MYNAME.COM
  </a>

  {% include "./partial/hero.twig" %}

  <section id="content">

    <div class="container mx-auto">

      <div class="grid grid-cols-1 gap-8 p-4 mt-8 md:grid-cols-2 sm:p-16 ">

        <article class="about">
          {# Section À propos #}
          {% include 'sections/about.twig' %}
        </article>

        <div class="grid grid-flow-row grid-cols-1 gap-8 md:grid-cols-2">

          <article class="education o-6">
            {# Section edu #}
            {% include 'sections/education.twig' %}
          </article>

          <section class="projects-section">
            <h2 class="mb-12 section-title">
              Use cases
            </h2>
            {% if projects %}
              <div class="o-8">
                {% for project in projects %}
                  {% include "./partial/card.twig" with {'project': project} %}
                {% endfor %}
              </div>
            {% endif %}
          </section>

        </div>

      </div>
    </div>
  </section>

{% endblock %}

{% block contact %}
  {# <section class="contact">
    {% apply shortcodes %}
    [contact-form-7 id="a4b1e57" title="Formulaire de contact 1"]
    {% endapply %}
  </section> #}
{% endblock %}
