{#
   Héritage du template de base
   Comme construire sur les fondations existantes
#}
{% extends "base.twig" %}

{% block content %}
  <section>
    <div class="container mx-auto">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <h1 class="text-6xl font-black font-heading">
          User Name
          <span>
            JOB TITLE
          </span>
        </h1>
        <article class="info">
          <h2>
            Contact
          </h2>
          <ul class="list-none">
            <li>
              TEL
            </li>
            <li>
              MAIL
            </li>
            <li>
              LOCATION
            </li>
          </ul>
        </article>
        <article class="about">
          <h2>
            About
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit minima laudantium quisquam voluptatibus soluta veritatis, vitae in tempore odio officiis, velit dicta deleniti harum molestias. Voluptates distinctio impedit optio tenetur!
          </p>
        </article>
        <article class="education">
          <h2>
            EDUCATION
          </h2>
          <section class="item">
            <div class="date">
              2024 - 2026
            </div>
            <h3 class="company">
              CFITECH
            </h3>
            <div class="company-role">
              Wordpress and Front-End trainer
            </div>
          </section>
        </article>
        <article class="skills">
          <ul class="list-none">
            <li class="item">
              Graphic Design
            </li>
            <li class="item">
              Front-End
            </li>
            <li class="item">
              Web Content Management
            </li>
            <li class="item">
              Wordpress Developer
            </li>
            <li class="item">
              Adobe Campaign Developer
            </li>
          </ul>
        </article>
        <article class="experience">
          <h2>
            EXPERIENCE
          </h2>
          <section class="job">
            <h3 class="job-company">
              CFITECH
            </h3>
            <div class="job-role">
              <strong>
                Trainer
              </strong>
              . 2010-2020
            </div>
            <div class="job-content">
              <ul class="list-none">
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
              </ul>
            </div>
          </section>
          <section class="job">
            <h3 class="job-company">
              CFITECH
            </h3>
            <div class="job-role">
              <strong>
                Trainer
              </strong>
              . 2010-2020
            </div>
            <div class="job-content">
              <ul class="list-none">
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
              </ul>
            </div>
          </section>
          <section class="job">
            <h3 class="job-company">
              CFITECH
            </h3>
            <div class="job-role">
              <strong>
                Trainer
              </strong>
              . 2010-2020
            </div>
            <div class="job-content">
              <ul class="list-none">
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
                <li>
                  Lorem ipsum.
                </li>
              </ul>
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>

<hr>
    <div class="cv-container">

        {# Section Hero/Présentation #}
        <section class="hero-section">
            <div class="container">
                <div class="hero-content">
                    <h1 class="hero-title">{{ site.name }}</h1>
                    <p class="hero-subtitle">{{ site.description }}</p>

                    {# Bouton d'action principal #}
                    <div class="hero-actions">
                        <a href="#contact" class="btn btn-primary">Me contacter</a>
                        <a href="/cv.pdf" class="btn btn-secondary" target="_blank">
                            Télécharger mon CV
                        </a>
                    </div>
                </div>

                {# Photo de profil (si définie dans ACF) #}
                {# {% if theme_options.profile_photo %} #}
                    <div class="hero-photo">
                        <img src="{{ theme_options.profile_photo.url }}"
                             alt="Photo de {{ site.name }}"
                             class="profile-img">
                    </div>
                {# {% endif %} #}
            </div>
        </section>

        {# Section À propos #}
        {% include 'sections/about.twig' %}

        {# Section Compétences #}
        {% include 'sections/skills.twig' %}

        {# Section Expériences #}
        {% include 'sections/experience.twig' %}

        {# Section Projets #}
        {% include 'sections/projects.twig' %}

        {# Section Contact #}
        {% include 'sections/contact.twig' %}

    </div>
{% endblock %}

