

      <div class="z-10 project-category">
        <a href="{{ site.link }}" class="flex flex-row items-center justify-between text-lg text-black border border-black rounded-full w-44 btn hover:border-2 " aria-label="Retour au CV">
          <span class="text-3xl ">
            &#8617;
          </span>
          <h6>
            Retour au CV
          </h6>
        </a>
      </div>

