{#
  ! Header Partial
  minimal header with email link and toggle mode button
  to be included in base.twig
#}
{% block header %}
  <div class="fixed flex items-center gap-4 z-1 top-4 badge right-4">

    <a href="mailto:hello@myname.com" class="px-4 py-3 text-xs font-bold text-white rounded-full z-1 bg-primary-800 hover:bg-primary-50 hover:text-primary-950 sm:text-sm">
      HELLO@MYNAME.COM
    </a>
    {# Toggle mode clair/sombre #}
    {% include './partial/toggle-mode.twig' %}


    {% if 'projects' in post.terms('category') %}
      <div class="z-10 project-category">
        <a href="{{ site.link }}" class="flex flex-row items-center justify-between text-lg text-black border border-black rounded-full w-44 btn hover:border-2 " aria-label="Retour au CV">
          <span class="text-3xl ">
            &#8617;
          </span>
          <h6>
            Retour au CV
          </h6>
        </a>
      </div>
    {% endif %}

  </div>
{% endblock %}
