
  <header class="flex flex-row items-center justify-between w-full h-32 mb-16 wp-container">
    <h3>
      {{ site.name }}
      , a Front-Developer.
    </h3>
    <a href="{{ site.link }}" class="flex flex-row items-center justify-between text-lg text-black border border-black rounded-full w-44 btn hover:border-2 " aria-label="Retour au CV">
      <span class="text-3xl ">
       &#8617;
      </span>
      <h6>
        Retour au CV
      </h6>
    </a>
  </header>
